<section class="section bg-white border-top" id="partners">
  <div class="container">
    <p class="text-uppercase text-center  fw-bold text-secondary mb-4">
      Empresas que confian en nosotros
    </p>
    <div class="row g-3 partners-grid justify-content-center">
      <div class="col-6 col-md-3">
        <div class="border rounded-3 bg-white d-flex align-items-center justify-content-center p-3 shadow-sm">
          <img src="assets/pictures/partners-logos/experta.png" alt="Experta" />
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="border rounded-3 bg-white d-flex align-items-center justify-content-center p-3 shadow-sm">
          <img src="assets/pictures/partners-logos/allianz.png" alt="Allianz" />
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="border rounded-3 bg-white d-flex align-items-center justify-content-center p-3 shadow-sm">
          <img src="assets/pictures/partners-logos/mercantilandina.png" alt="Mercantil Andina" />
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="border rounded-3 bg-white d-flex align-items-center justify-content-center p-3 shadow-sm">
          <img src="assets/pictures/partners-logos/sancorseguros.png" alt="Sancor Seguros" />
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="border rounded-3 bg-white d-flex align-items-center justify-content-center p-3 shadow-sm">
          <img src="assets/pictures/partners-logos/Experta-art.png" alt="Experta ART" />
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="border rounded-3 bg-white d-flex align-items-center justify-content-center p-3 shadow-sm">
          <img src="assets/pictures/partners-logos/federacion.png" alt="Federación Patronal" />
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="border rounded-3 bg-white d-flex align-items-center justify-content-center p-3 shadow-sm">
          <img src="assets/pictures/partners-logos/andina.png" alt="Andina ART" />
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="border rounded-3 bg-white d-flex align-items-center justify-content-center p-3 shadow-sm">
          <img src="assets/pictures/partners-logos/prevencion-art.png" alt="Prevención ART " />
        </div>
      </div>
        <div class="col-6 col-md-3">
        <div class="border rounded-3 bg-white d-flex align-items-center justify-content-center p-3 shadow-sm">
          <img src="assets/pictures/partners-logos/bbva.png" alt=" BBVA Seguros" />
        </div>
      </div>
         <div class="col-6 col-md-3">
        <div class="border rounded-3 bg-white d-flex align-items-center justify-content-center p-3 shadow-sm">
          <img src="assets/pictures/partners-logos/laCaja.png" alt="La Caja seguros" />
        </div>
      </div>
         <div class="col-6 col-md-3">
        <div class="border rounded-3 bg-white d-flex align-items-center justify-content-center p-3 shadow-sm">
          <img src="assets/pictures/partners-logos/zurich.png" alt="Zurich" />
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="border rounded-3 bg-white d-flex align-items-center justify-content-center p-3 shadow-sm">
          <img src="assets/pictures/partners-logos/metLife.png" alt="MetLife seguros" />
        </div>
      </div>
    </div>
  </div>
</section>
